# Assignment 2: Privacy-Preserving Data Sharing
### Security and Privacy Project - MECD (2022/2023)

### Autores

- Duarte Meneses - 2019216949
- Patricia Costa - 2019213995

### Import dataset

In [57]:
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats

infri = pd.read_csv('data/infringement_dataset_v2.csv')

infri.fillna(value = -1,  
          inplace = True) 

display(infri)

,loan_id,infringed,contract_type,gender,has_own_car,has_own_realty,num_children,annual_income,credit_amount,credit_annuity,...,first_name,last_name,past_avg_amount_annuity,past_avg_amt_application,past_avg_amt_credit,past_loans_approved,past_loans_refused,past_loans_canceled,past_loans_unused,past_loans_total
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,Robert,Watkins,9251.77500,179055.000,179055.00,1.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,Jane,Navarro,56553.99000,435436.500,484191.00,3.0,0.0,0.0,0.0,3.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,David,Seagraves,5357.25000,24282.000,20106.00,1.0,0.0,0.0,0.0,1.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,Deborah,Tandy,23651.17500,272203.260,291695.50,5.0,3.0,1.0,0.0,9.0
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,David,Walker,12278.80500,150530.250,166638.75,6.0,0.0,0.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,Lawrence,Mcwayne,6605.91000,40455.000,40455.00,1.0,0.0,0.0,0.0,1.0
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,Belinda,Loveland,10074.46500,57595.500,56821.50,1.0,0.0,0.0,0.0,1.0
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,Aileen,Rasmussen,4770.40500,24162.750,20625.75,2.0,0.0,0.0,0.0,2.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,Mary,Marbury,10681.13250,121317.750,134439.75,2.0,0.0,0.0,0.0,2.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,Sophia,Murphy,20775.39188,362770.875,424431.00,6.0,0.0,2.0,0.0,8.0

### 2.2. Sensitivity

##### Mean of past events

In [60]:
from matplotlib import pyplot as plt
columns = ['past_avg_amount_annuity', 'past_avg_amt_application', 'past_avg_amt_credit', 'past_loans_total']
colunas = infri[['age','past_avg_amount_annuity', 'past_avg_amt_application', 'past_avg_amt_credit', 'past_loans_total']]
colunas = colunas.groupby("age").mean()
display(colunas)

,past_avg_amount_annuity,past_avg_amt_application,past_avg_amt_credit,past_loans_total
age,,,,
20,6225.390000,76134.746250,74877.750000,4.000000
21,9159.344530,80978.706301,81849.636828,2.464115
22,10051.850022,89170.454517,90652.144514,3.011933
23,10098.281830,90166.832392,92516.294039,3.144195
24,10615.733880,95217.211373,99730.425124,3.650960
25,10714.413734,100203.209124,105048.839860,3.829655
26,10902.062821,104514.162115,111127.259162,3.917781
27,11587.003144,109004.296578,119014.075642,4.250590
28,11930.996138,112678.478874,123953.178302,4.319749
29,12248.130484,117989.971491,131008.289447,4.427379
30,12348.781978,119432.013785,133468.104027,4.494107
31,12631.787209,123721.372002,137340.166307,4.455772
32,12663.821667,124823.008447,138635.635768,4.428264
33,12776.602816,126397.963731,141680.966050,4.407571
34,12836.991730,126995.066623,141795.961050,4.347137
35,13046.120317,132427.789242,148087.863492,4.380574
36,13190.002547,133905.298590,149636.872994,4.404458
37,13384.800006,137787.751532,154581.760648,4.466871
38,13612.006165,142904.293700,158963.880314,4.528006
39,13966.201249,148644.675967,165806.579871,4.632497
40,14127.958747,151486.151783,168310.229067,4.600765
41,14252.870994,152820.024812,169933.183402,4.577583
42,14257.805498,153612.585282,171960.168970,4.649708
43,14568.212573,156720.648656,174598.676488,4.672003
44,14487.820380,155594.397035,174438.377783,4.681673
45,14773.317236,159635.414652,178645.848688,4.729632
46,14933.954544,164734.934720,184380.597225,4.689702
47,14883.498747,163973.948364,183559.543271,4.659732
48,14761.564281,161780.201283,181281.438061,4.690149
49,14827.127391,162112.021140,182171.460370,4.534782
50,15208.706363,166557.338471,186159.722053,4.455878
51,15095.216751,166140.081793,185718.042622,4.520407
52,15318.917607,168134.305242,188015.607377,4.530534
53,14993.923904,167920.485550,186606.931947,4.382325
54,14963.542161,166098.176415,185231.690476,4.623494
55,14976.470957,170216.639381,189001.234433,4.609161
56,15076.678949,170674.913963,189750.182987,4.709871
57,15244.412390,173091.441712,191181.899302,4.743203
58,14635.625424,168119.575183,184343.098345,4.794831
59,15171.624443,177934.406003,192737.695994,4.917207
60,14654.111588,171109.560212,185317.413078,4.950538
61,14298.488890,165321.453925,179220.680394,4.898302
62,14303.431136,165950.800995,178187.963969,5.032100
63,14581.753179,165580.908449,176307.637270,5.147393
64,14508.609423,165832.854421,175143.825782,5.342388
65,13716.691814,148779.777024,156492.618151,5.289110
66,12489.362396,124667.982618,130535.398343,5.261391
67,12278.885918,106710.573248,110285.550205,5.356513
68,12471.280478,96004.281657,97273.247171,5.691686
69,12549.120815,94011.884375,91369.753571,3.875000

In [77]:
def sensitivity_mean(dataset):
    l = []
    mean_past = dataset.mean()
    print("Total mean:", mean_past)

    for i in range(len(dataset)):
        aux = dataset.drop(dataset.index[i])
        l.append(abs(mean_past - aux.mean()))

    return max(l)

df_sensitivity = pd.DataFrame(columns=columns, index = ["Original Sensitivity", "Epsilon = 0.01", "Epsilon = 0.2"])

s_annuity = sensitivity_mean(colunas['past_avg_amount_annuity'])
s_application = sensitivity_mean(colunas['past_avg_amt_application'])
s_credit = sensitivity_mean(colunas['past_avg_amt_credit'])
s_loans = sensitivity_mean(colunas['past_loans_total'])

df_sensitivity.loc["Original Sensitivity"] = [s_annuity, s_application, s_credit, s_loans]

display(df_sensitivity)

Total mean: 13328.026144908183
Total mean: 139488.50141987667
Total mean: 152558.7080045867
Total mean: 4.503573521762351

,past_avg_amount_annuity,past_avg_amt_application,past_avg_amt_credit,past_loans_total
Original Sensitivity,144.951758,1292.933779,1585.325674,0.041622
Epsilon = 0.01,NaN,NaN,NaN,NaN
Epsilon = 0.2,NaN,NaN,NaN,NaN

### 2.3. Differential Privacy

In [78]:
def add_laplace_noise(data, sensitivity, epsilon):
  return data + np.random.laplace(loc=0, scale=sensitivity/epsilon)

def percentage_error(orig, est):
  return ((orig-est) / orig) * 100

##### Adding noise

In [79]:
noise_annuity_001 = add_laplace_noise(colunas['past_avg_amount_annuity'], s_annuity, 0.01)
s_annuity_001 = sensitivity_mean(noise_annuity_001)

noise_application_001 = add_laplace_noise(colunas['past_avg_amt_application'], s_application, 0.01)
s_application_001 = sensitivity_mean(noise_application_001)

noise_credit_001 = add_laplace_noise(colunas['past_avg_amt_credit'], s_credit, 0.01)
s_credit_001 = sensitivity_mean(noise_credit_001)

noise_loans_001 = add_laplace_noise(colunas['past_loans_total'], s_loans, 0.01)
s_loans_001 = sensitivity_mean(noise_loans_001)

df_sensitivity.loc["Epsilon = 0.01"] = [s_annuity_001, s_application_001, s_credit_001, s_loans_001]
display(df_sensitivity)

Total mean: 23177.468405881864
Total mean: -30891.66486203754
Total mean: 86368.0761593605
Total mean: 6.466062073275817

,past_avg_amount_annuity,past_avg_amt_application,past_avg_amt_credit,past_loans_total
Original Sensitivity,144.951758,1292.933779,1585.325674,0.041622
Epsilon = 0.01,144.951758,1292.933779,1585.325674,0.041622
Epsilon = 0.2,NaN,NaN,NaN,NaN

In [80]:
noise_annuity_02= add_laplace_noise(colunas['past_avg_amount_annuity'], s_annuity, 0.2)
s_annuity_02 = sensitivity_mean(noise_annuity_02)

noise_application_02 = add_laplace_noise(colunas['past_avg_amt_application'], s_application, 0.2)
s_application_02 = sensitivity_mean(noise_application_02)

noise_credit_02= add_laplace_noise(colunas['past_avg_amt_credit'], s_credit, 0.2)
s_credit_02 = sensitivity_mean(noise_credit_02)

noise_loans_02 = add_laplace_noise(colunas['past_loans_total'], s_loans, 0.2)
s_loans_02 = sensitivity_mean(noise_loans_02)

df_sensitivity.loc["Epsilon = 0.2"] = [s_annuity_02, s_application_02, s_credit_02, s_loans_02]
display(df_sensitivity)

Total mean: 10979.471401499528
Total mean: 133585.07775246655
Total mean: 147385.53412954367
Total mean: 4.578264740587639

,past_avg_amount_annuity,past_avg_amt_application,past_avg_amt_credit,past_loans_total
Original Sensitivity,144.951758,1292.933779,1585.325674,0.041622
Epsilon = 0.01,144.951758,1292.933779,1585.325674,0.041622
Epsilon = 0.2,144.951758,1292.933779,1585.325674,0.041622

In [81]:
noise_annuity_log2 = add_laplace_noise(colunas['past_avg_amount_annuity'], s_annuity, np.log(2))
s_annuity_log2 = sensitivity_mean(noise_annuity_log2)

noise_application_log2 = add_laplace_noise(colunas['past_avg_amt_application'], s_application, np.log(2))
s_application_log2 = sensitivity_mean(noise_application_log2)

noise_credit_log2 = add_laplace_noise(colunas['past_avg_amt_credit'], s_credit, np.log(2))
s_credit_log2 = sensitivity_mean(noise_credit_log2)

noise_loans_log2 = add_laplace_noise(colunas['past_loans_total'], s_loans, np.log(2))
s_loans_log2 = sensitivity_mean(noise_loans_log2)

df_sensitivity.loc["Epsilon = np.log(2)"] = [s_annuity_log2, s_application_log2, s_credit_log2, s_loans_log2]
display(df_sensitivity)

Total mean: 13507.737338863528
Total mean: 140530.422289607
Total mean: 151004.7096377545
Total mean: 4.502872637520872

,past_avg_amount_annuity,past_avg_amt_application,past_avg_amt_credit,past_loans_total
Original Sensitivity,144.951758,1292.933779,1585.325674,0.041622
Epsilon = 0.01,144.951758,1292.933779,1585.325674,0.041622
Epsilon = 0.2,144.951758,1292.933779,1585.325674,0.041622
Epsilon = np.log(2),144.951758,1292.933779,1585.325674,0.041622

In [82]:
noise_annuity_log3 = add_laplace_noise(colunas['past_avg_amount_annuity'], s_annuity, np.log(3))
s_annuity_log3 = sensitivity_mean(noise_annuity_log3)

noise_application_log3 = add_laplace_noise(colunas['past_avg_amt_application'], s_application, np.log(3))
s_application_log3 = sensitivity_mean(noise_application_log3)

noise_credit_log3 = add_laplace_noise(colunas['past_avg_amt_credit'], s_credit, np.log(3))
s_credit_log3 = sensitivity_mean(noise_credit_log3)

noise_loans_log3 = add_laplace_noise(colunas['past_loans_total'], s_loans, np.log(3))
s_loans_log3 = sensitivity_mean(noise_loans_log3)

df_sensitivity.loc["Epsilon = np.log(3)"] = [s_annuity_log3, s_application_log3, s_credit_log3, s_loans_log3]
display(df_sensitivity)

Total mean: 13334.775762754067
Total mean: 141001.68617699275
Total mean: 152944.89776986823
Total mean: 4.5150038845887375

,past_avg_amount_annuity,past_avg_amt_application,past_avg_amt_credit,past_loans_total
Original Sensitivity,144.951758,1292.933779,1585.325674,0.041622
Epsilon = 0.01,144.951758,1292.933779,1585.325674,0.041622
Epsilon = 0.2,144.951758,1292.933779,1585.325674,0.041622
Epsilon = np.log(2),144.951758,1292.933779,1585.325674,0.041622
Epsilon = np.log(3),144.951758,1292.933779,1585.325674,0.041622

### Errors

In [76]:
orig_mean = colunas['past_avg_amount_annuity'].mean()
noise_mean = noise_annuity.mean()
print(percentage_error(orig_mean, noise_mean))

-4.207459748923787

##### Mean of people age of infringements

In [120]:
df = infri[['infringed', 'age']]
display(df)

        infringed  age
0               1   25
1               0   45
2               0   52
3               0   52
4               0   54
...           ...  ...
307506          0   25
307507          0   56
307508          0   41
307509          1   32
307510          0   46

[307511 rows x 2 columns]

In [121]:
analyse = df[df['infringed'] == 1]
original_count = len(analyse)

l = []
mean_age = analyse['age'].mean()
print("Total mean:", mean_age)
for i in range(original_count):
    aux = analyse.drop(analyse.index[i])
    l.append(abs(mean_age - aux['age'].mean()))

sensitivity_age = max(l)
print("Sensitivity: ", sensitivity_age)

Total mean: 40.279959718026184
Sensitivity:  0.0011166629182213228

##### Mean of people age of infringements

In [129]:
dp_count = add_laplace_noise(original_count, sensitivity_age, 0.01)
print(original_count, dp_count, percentage_error(original_count, dp_count))

24825 24824.946790178597 0.0002143396632530148